.PeopleCards {
    border: 1px solid rgba(173, 173, 173, 0.74);
    display: flex;
    margin: auto;
    padding: 0;
    min-width: 500px;
    max-width: 750px;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    border-radius: 3px; 
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    box-shadow: 0px 14px 28px 0px rgba(50, 50, 50, 0.3);
}

.PeopleCards:hover {
    background: #cee7ff; /* Old browsers */
}

.PeopleCards li {
    list-style: none;
    margin: 10px;
    min-height: 30px; 
}

.PeopleCards li:nth-child(1) {
    width: 30px;
    min-width: 30px;
}

.PeopleCards li:nth-child(2) {
    width: 200px;
    min-width: 80px;
}

.PeopleCards li:nth-child(3) {
    width: 150px;
    min-width: 50px;
}

.PeopleCards li:nth-child(4) {
    width: 200px;
    min-width: 80px;
}

.PeopleCards li:nth-child(5) {
    display: flex;
    width: 20px;
    height: auto;
    min-width: 30px;
    justify-content: center;
    align-items: center;
}

.PeopleCards li:nth-child(5) div {
    width: 20px;
    height: 20px;
    background: url('../media/images/icon/glyphicons_fit_content_width.png') 0px 0px;
    background-repeat: no-repeat;
    background-size: 100%;
    filter: invert(0%);

}
.notFavorite {
    filter: invert(95%);
}

.Avatar {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.Avatar.cat {
    background: url('../media/images/img/cat.svg') 0px 0px;
}
.Avatar.dog {
    background: url('../media/images/img/dog.svg') 0px 0px;
}
.Avatar.fox {
    background: url('../media/images/img/fox.svg') 0px 0px;
}
.Avatar.koala {
    background: url('../media/images/img/koala.svg') 0px 0px;
}
.Avatar.lion {
    background: url('../media/images/img/lion.svg') 0px 0px;
}
.Avatar.owl {
    background: url('../media/images/img/owl.svg') 0px 0px;
}
.Avatar.penguin {
    background: url('../media/images/img/penguin.svg') 0px 0px;
}
.Avatar.pig {
    background: url('../media/images/img/pig.svg') 0px 0px;
}
.Avatar.raccoon {
    background: url('../media/images/img/raccoon.svg') 0px 0px;
}
.Avatar.sheep {
    background: url('../media/images/img/sheep.svg') 0px 0px;
}
