.Main {
    display: block;
    width: 100%;
    padding: 10px;
    height: 100%;
    background: rgb(224, 224, 224);
}

.App_flex {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    padding: 10px;
    margin: auto;
    height: 100%;
    background: rgb(224, 224, 224);
}