.Main {
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(224, 224, 224);
}

.App_flex {
    top: 65px;
    display: flex;
    flex-wrap: wrap;
    max-width: 784px;
    margin: auto;
    height: 100%;
    background: rgb(224, 224, 224);
}
.Menu_container {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100px;
}